

<div class="col-md-4 mx-auto">
    <div class="card">
    <div class="card-header">
        <h3>Nueva Tarea</h3>
    </div>
    <div class="card-body">
        <form action="/tasks/add" method="POST">
        <div class="form-group">
            <input type="text" name="title" class="form-control" placeholder="Título" autocomplete="off">
        </div>
        <div class="form-group">
            <textarea name="description" class="form-control" placeholder="Descripción"></textarea>
        </div>
         <div class="form-group">
            <select name="priority" class="form-control"> 
                <option value="" >Seleccione la prioridad</option>
                <option value="high">Alta</option>
                <option value="Medium">Media</option>
                <option value="Low">Baja</option>
            </select>
       </div>
        <div class="form-group">
            <input type="Date" name="fecha_vencimiento" class="form-control">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">
                Guardar
            </button>  
        </div>
        </form>
    </div>
</div>
</div>