<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay">
        <img src="/img/logo.png" class="img-fluid logo-portada" alt="Portada Principal">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">
        </a>
        <h1 class="display-4">Aplicaci칩n de Tareas.</h1>
        <p class="lead">NodeJs - Mongo DB.</p>
        <p>Est치 aplicaci칩n permite a los usuarios crear y gestionar varias tareas.</p>
        <p>Cada tarea consta de:</p>
        <ul>
            <li>
                Nombre de la tarea.
            </li>
            <li>
                Descripci칩n.
            </li>
            <li>
                Prioridad de la tarea.
            </li>
            <li>
                Fecha de vencimiento.
            </li>
        </ul>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->